$mainColor : #15023a;

$width: 820px;
$widthTab: 480px;
$widthSmall: 280px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
};

@mixin mobileTab {
    @media (max-width: #{$widthTab}){
        @content
    }
};

@mixin mobileSmall {
    @media (max-width: #{$widthSmall}){
        @content
    }
};